html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: url(../img/fon.jpg) no-repeat bottom right / cover;

}

.wrapper {
    overflow: hidden;
    font-family: 'Neucha', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    animation: gradient 3s forwards;
}

.poem {
    font-size: 30px;
}

.content {
    background-color: rgba(255, 255, 255, 0.267);
    display: inline-block;
    color: rgb(164 46 79);
    padding: 50px;
    border-radius: 40px 200px 40px 200px;
    animation: shift 3s, block-shadow 3s 2s infinite alternate linear;
}

.title {
    font-size: 50px;
    animation: text-transform 2s 3s alternate infinite linear;
}

@keyframes shift {
    0% {
        transform: translateX(-100vw);
    }

    50% {
        transform: scale(0.5) rotateY(180deg);
    }


    100% {
        transform: translateX(0);
    }

}

@keyframes gradient {
    0% {
        background: rgba(230, 197, 232, 0);
    }

    50% {
        background: rgba(230, 197, 232, 0.5);
    }

    100% {
        background: rgba(230, 197, 232, 0.3);
    }
}

@keyframes text-transform {
    100% {
        transform: skew(10deg, 5deg);
    }
}

@keyframes block-shadow {
    0% {
        box-shadow: 12px 12px 2px 1px rgba(255, 255, 255, 0.418);
    }

    100% {
        box-shadow: 9px 9px 14px 14px rgba(255, 255, 255, 0.412);
    }
}

button {
    background-color: rgba(216, 112, 147, 0.836);
    font-size: 30px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    margin: 0;
    padding: 20px 20px 20px 20px;
    display: block;
}


form {
    padding: 330px;
    display: flex;
    justify-content: center;
}